<div class="col-sm-8 col-sm-offset-2" style="padding-top: 20px;">
	<button type="button" class="btn btn-success upload-button"
	    ng-file-select ng-model="files" ng-file-change="upload(files)" ng-multiple="false" ng-accept="'*.report'" tabindex="0">上传脚本</button>
	<table class="table table-striped" style="padding-top: 10px;">
		<tr class="active">
			<td>#</td>
			<td>报告标示</td>
			<td>最近修改</td>
			<td>操作</td>
		</tr>
		<tr ng-repeat="item in reports">
			<td>{{$index + 1}}</td>
			<td>{{item.title}}</td>
			<td>{{item.date}}</td>
			<td>
				<button type="button" class="btn btn-sm btn-danger" ng-click="deleteReport($index)">删除</button>
				<button type="button" class="btn btn-sm btn-success" ng-click="editReport($index)">查看</button>
			</td>
		</tr>
	</table>
</div>