<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" style="padding-bottom: 200px;">
  <div ng-controller="dataController">
    <div class="page-header">
      <h1>内存使用报告<small>Dalvik Heap</small></h1>
    </div>
    <nvd3-line-with-focus-chart
            data="memoryData"
            id="memoryReport"
            height="400"
            height2="50"
            margin="{left:80,top:50,bottom:30,right:50}"
            isArea="true"
            showXAxis="true"
            showYAxis="true"
            interactive="true"
            tooltips="true"
            tooltipcontent="memoryToolTip()"
            x2AxisTickFormat="x2AxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()"
            objectEquality="true"
            noData="Memory data is empty!">
         <svg></svg>
    </nvd3-line-with-focus-chart>
    <div class="page-header">
      <h1>流量使用报告<small>发送/接收</small></h1>
    </div>
    <nvd3-line-with-focus-chart
            data="networkData"
            id="networkReport"
            height="400"
            height2="50"
            margin="{left:80,top:50,bottom:30,right:50}"
            isArea="true"
            showXAxis="true"
            showYAxis="true"
            interactive="true"
            tooltips="true"
            tooltipcontent="networkToolTip()"
            x2AxisTickFormat="x2AxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()"
            objectEquality="true"
            noData="Network data is empty!">
         <svg></svg>
    </nvd3-line-with-focus-chart>
    <div class="page-header">
      <h1>CPU使用报告<small>cpu使用占比</small></h1>
    </div>
    <nvd3-line-with-focus-chart
            data="cpuData"
            id="cpuReport"
            height="400"
            height2="50"
            margin="{left:80,top:50,bottom:30,right:50}"
            isArea="true"
            showXAxis="true"
            showYAxis="true"
            interactive="true"
            tooltips="true"
            tooltipcontent="cpuToolTip()"
            x2AxisTickFormat="x2AxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()"
            objectEquality="true"
            noData="CPU data is empty!">
         <svg></svg>
    </nvd3-line-with-focus-chart>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{dialog.title}}</h4>
      </div>
      <div class="modal-body" style="overflow-y: scroll;">
        <pre>{{dialog.content}}</pre>
      </div>
    </div>
  </div>
</div>