      <div class="row" style="padding-top: 20px;">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-click="reportNavSelect=1"
                    ng-class="{'active' : reportNavSelect==1}"><a>性能监控报告</a></li>
            <li role="presentation" ng-click="reportNavSelect=2"
                    ng-class="{'active' : reportNavSelect==2}"><a>脚本执行报告</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <input class="pull-right" type="file" custom-on-change="selectReportFile" accept=".report"/>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" ng-show="reportNavSelect==2">
          <div class="panel panel-default tb-padding">
            <div class="panel-heading">测试报告</div>
            <div class="panel-body">
              <a target="_blank" href="environment/test_report/html/index.html">测试报告</a>
            </div>
          </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" ng-show="reportNavSelect==1">
        <div class="page-header">
          <h1>内存使用报告<small>Dalvik Heap</small></h1>
        </div>
        <nvd3 options="options" data="memData"></nvd3>
        <div class="page-header">
          <h1>流量使用报告<small>发送/接收</small></h1>
        </div>
        <nvd3 options="options" data="netData"></nvd3>
        <div class="page-header">
          <h1>CPU使用报告<small>cpu使用占比</small></h1>
        </div>
        <nvd3 options="cupOptions" data="cpuData"></nvd3>
      </div>